/* 
    INDEX

    1. REL LINKS
    2. UNIVERSAL
    3. CUSTOM SCROLL BAR
    4. HEADER
    5. FOOTER
    6. RESPONSIVE
    7. SEMESTER CARDS PAGE 
 */


/* REL LINKS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

/* UNIVERSAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* CUSTOM SCROLL BAR */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border: 3px solid #24252A;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #0088a9;
    border-radius: 3px;
}
/* HEADER */

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.selected {
    color: #0088a9;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

nav {
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

.contribute {
    order: 2;
}

button {
    margin-left: auto;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* FOOTER */
.f-container {
    max-width: 1170px;
    margin: auto;
}

.f-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24252A;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color:  #edf0f1;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(0, 136, 169, 1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color:  #edf0f1;
    text-decoration: none;
    font-weight: 400;
    display: block;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #edf0f1;
    transition: all 0.5s ease;
}


.footer-col .social-links a:hover { 
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 0.8);
}

/* RESPONSIVE */
@media(max-width: 767px){
    .footer-col {
        width: 50px;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}

.explore {
    margin-top: 10px;
    height: 600px;
    display: block;
}

/* SEMESTER CARDS */

.container {
    position: relative;
    height: 300px;
    width: 1000px;
    top: 60px;
    left: calc(50% - 500px);
    display: inline-flex;
}
  
.card {
    display: flex;
    height: 280px;
    width: 350px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}
  
.card:not(:first-child) {
      margin-left: -50px;
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
  
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
  
.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
  
.span {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 70px;
}
  
.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}
  
.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}
  
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: #63a4ff;
    background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    transition: 0.6s ease-out;
}
  
.card:hover .filledbar {
    width: 140px;
    transition: 0.4s ease-out;
}
  
.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}
  
svg {
    fill: #17141d;
    stroke-width: 2px;
}
  
.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.margin_filled_bar {
    margin-top: 15px;
}

li, a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}


/* Courses page css start */
/* holding the image and the text */
.middle {
    position: relative;
    text-align: center;
    color: rgb(7, 7, 7);
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }  
  /*image */
  img {
    max-width: 100%;
    height: auto;
    opacity: 0.7;
  }
  
  *, *:before, *:after {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
    }
    html {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    /* body {
      margin: 0;
      padding: 0;
      font-family: 'Hind', sans-serif;
      background: #fff;
      color: #4d5974;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 100vh;
    } */
    .acontainer {
      margin: 0 auto;
      padding: 4rem;
      width: 48rem;
    }
    h3 {
      font-size: 1.75rem;
      color: #373d51;
      padding: 1.3rem;
      margin: 0;
    }
    .accordion a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
      color: #7288a2;
      font-size: 1.15rem;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
    }
    .accordion a:hover,
    .accordion a:hover::after {
      cursor: pointer;
      color: rgba(0, 136, 169, 1);
    }
    .accordion a:hover::after {
      border: 1px solid rgba(0, 136, 169, 1);
    }
    .accordion a.active {
      color: rgba(0, 136, 169, 1);
      border-bottom: 1px solid rgba(0, 136, 169, 1);
    }
    .accordion a::after {
      font-family: 'Ionicons';
      content: '\f218';
      position: absolute;
      float: right;
      right: 1rem;
      font-size: 1rem;
      color: #7288a2;
      padding: 5px;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #7288a2;
      text-align: center;
    }
    .accordion a.active::after {
      font-family: 'Ionicons';
      content: '\f209';
      color: rgba(0, 136, 169, 1);
      border: 1px solid rgba(0, 136, 169, 1);
    }
    .accordion .content {
      opacity: 0;
      padding: 0 1rem;
      max-height: 0;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      clear: both;
      -webkit-transition: all 0.2s ease 0.15s;
      -o-transition: all 0.2s ease 0.15s;
      transition: all 0.2s ease 0.15s;
    }
    .accordion .content p {
      font-size: 1rem;
      font-weight: 300;
    }
    .accordion .content.active {
      opacity: 1;
      padding: 1rem;
      max-height: 100%;
      -webkit-transition: all 0.35s ease 0.15s;
      -o-transition: all 0.35s ease 0.15s;
      transition: all 0.35s ease 0.15s;
    }
  
    /* section starts */
    .about-container .about-cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 80%;
        margin-bottom: 100px;
      }
      
      .about-container .about-cards .card-sec {
        margin: 30px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      
      .about-container .about-cards .card-sec .card-about {
        margin-top: 50px;
        position: relative;
        text-align: center;
        background-color: #30333e;
        width: 300px;
        height: 100%;
        border-radius: 10px;
      }
      
      .about-container .about-cards .card-sec .card-about h1 {
        font-size: 2rem;
        margin: 15px;
        font-weight: 500;
        color: white;
      }
      
      .about-container .about-cards .card-sec .card-about .icon-img {
        position: absolute;
        left: 50%;
        top: -10%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
        background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }
      
      .about-container .about-cards .card-sec .card-about .icon-img svg {
        margin: 20px 0px;
      }
      .about-cards .card-sec .card-about .div {
        padding-top: 70px;
        padding-bottom: 20px;
      }
      
      .about-cards .card-sec .card-about .div .ab-desc {
        text-align: center;
        width: 70%;
        display: block;
        margin: auto;
        color: white;
      }
      
      .about-cards .card-sec .card-about .div .ab-desc p {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 30px;
      }