/* 
    INDEX

    1. REL LINKS
    2. UNIVERSAL
    3. CUSTOM SCROLL BAR
    4. HEADER
    5. FOOTER
    6. RESPONSIVE
    7. SEMESTER CARDS PAGE 
    8. ABOUT
    9. TESTIMONIAL CARDS
    10. TEAMS PAGE
    11. FAQ PAGE
    5. TOP IMAGE AND BUTTON
    6. FOOTER
    7. RESPONSIVE
    8. DISCOVER SECTION
    9. SEMESTER CARDS PAGE 
    10. ABOUT
    11. TESTIMONIAL CARDS
    12. TEAMS PAGE
    13. COPY RIGHT STATEMENT
    14. COMING SOON
 */

/* REL LINKS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

/* UNIVERSAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* CUSTOM SCROLL BAR */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border: 3px solid #24252a;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  border-radius: 3px;
}
/* HEADER */

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.selected {
  color: #0088a9;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  opacity: 100%;
}

nav {
  order: 1;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  color: #fff;
}

.nav_links li a {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.contribute {
  order: 2;
}

button {
  margin-left: auto;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
/* TOP IMAGE */
.top-image {
  background-image: url("../images/infrastructure/banner.png");
  background-size: cover;
  height: 600px;
  padding-top: 10%;
  padding-left: 5%;
  opacity: 0.7rem;
}

.top-image h1 {
  color: white;
  font-size: 3.2rem;
  font-family: "Raleway", sans-serif;
  width: max-content;
}
.top-image p {
  color: white;
  width: max-content;
}
/* ABOUT BUTTON */
.about-button {
  margin-top: 20px;
  border-radius: 8px;
  font-size: 18px;
  color: whitesmoke;
  background-color: rgba(0, 136, 169, 1);
  border: rgba(0, 136, 169, 1);
  transition: all 0.4s ease;
}

/* FOOTER */
.f-container {
  max-width: 1170px;
  margin: auto;
}

.f-row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24252a;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #edf0f1;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(0, 136, 169, 1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #edf0f1;
  text-decoration: none;
  font-weight: 400;
  display: block;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: white;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #edf0f1;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #edf0f1;
  background-color: rgba(0, 136, 169, 0.8);
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .footer-col {
    width: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* DISCOVER SECTION */

.diploma-section {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 28px;
  font-weight: 400px;
  width: max-content;
  transition: 0.4s ease-out;
  cursor: default;
}
.arrow-right {
  color: rgba(0, 136, 169, 0.8);
  font-size: 28px;
  transition: 0.4s ease-out;
}

.explore {
  margin-top: 10px;
  height: 500px;
  display: block;
}

/* SEMESTER CARDS */

.container {
  position: relative;
  height: 300px;
  width: 1000px;
  top: 60px;
  left: calc(50% - 500px);
  display: inline-flex;
  margin-top: 20px;
}

.card {
  display: flex;
  height: 280px;
  width: 240px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem rgb(173, 173, 173);
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.span {
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 70px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #63a4ff;
  background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 140px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

/* svg {
    fill: #17141d;
    stroke-width: 2px;
} */

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.margin_filled_bar {
  margin-top: 15px;
}

.in-card {
  line-height: 3em;
}

li,
a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  list-style: none;
}

/* ABOUT */

.about-container .banner-img img {
  width: 100%;
  position: relative;
}

.about-container .banner-img .about-wrapper {
  width: 80%;
  margin: 100px auto 100px auto;
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
  color: #fff;
}

.about-container .banner-img .about-wrapper h1 {
  font-size: 3.2rem;
}

.about-container .banner-img .about-wrapper .tagline-pdc {
  font-size: 2rem;
  margin-top: 10px;
}

.about-container .banner-img .about-wrapper p {
  margin: 20px;
  margin-left: 0px;
  font-size: 1.2rem;
  width: 70%;
  font-weight: 400;
}

.about-container .quest {
  width: 70%;
  display: block;
  margin: 100px;
  margin-bottom: 40px;
}

.about-container .quest h3 {
  font-size: 2.4rem;
}

.about-container .quest p {
  margin: 20px;
  margin-left: 0px;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 300;
}

.about-container .quest p span {
  width: 60%;
}

.about-container .about-cards {
  position: relative;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  width: 80%;
  margin-bottom: 100px;
}

.about-container .about-cards .card-sec {
  margin: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-container .about-cards .card-sec .card-about {
  margin-top: 50px;
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

.about-container .about-cards .card-sec .card-about h1 {
  font-size: 2rem;
  margin: 15px;
  font-weight: 500;
  color: black;
}

.about-container .about-cards .card-sec .card-about .icon-img {
  position: absolute;
  left: 50%;
  top: -10%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.about-container .about-cards .card-sec .card-about .icon-img svg {
  margin: 20px 0px;
}

.about-container .about-cards .card-sec .card-about .div {
  padding-top: 70px;
  padding-bottom: 20px;
}

.about-container .about-cards .card-sec .card-about .div .ab-desc {
  text-align: center;
  width: 70%;
  display: block;
  margin: auto;
  color: black;
}

.about-container .about-cards .card-sec .card-about .div .ab-desc p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.about-container .about-cards .card-sec .card-about .div .ab-desc a {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-decoration: none;
  color: #000;
}

.about-container
  .about-cards
  .card-sec
  .card-about
  .div
  .ab-desc
  .desc-text:hover {
  color: #0088a9;
}

.about-container .initiative {
  width: 70%;
  display: block;
  margin: 100px;
  margin-bottom: 100px;
}

.about-container .initiative h3 {
  font-size: 2.4rem;
}

.about-container .initiative p {
  margin: 20px;
  margin-left: 0px;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 300;
}

.about-container .initiative p span {
  width: 60%;
}

/* TESTIMONIAL */
.testimonial-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  overflow: hidden;
}

.testimonial-section .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial-section .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background: white;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
}

.testimonial-section .swiper-slide-active {
  filter: blur(0px);
  background: white;
}

.testimonial-section .testimonialBox {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}

.testimonial-section .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
}

.testimonial-section .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-section .details .imageBox {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonial-section .details .imageBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-section .details h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(0, 136, 169, 1);
  line-height: 1.1em;
}

.testimonial-section .details h3 span {
  font-size: 12px;
  color: #666;
}

.testimonial-section .swiper-container-3d .swiper-slide-shadow-left,
.testimonial-section .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* TEAMS PAGE */
.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
}

.team-section .teams-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  margin: 40px 0;
  width: 80%;
  margin-bottom: 40px;
}

.teams-container .heading {
  width: 70%;
  display: block;
  margin: 100px;
  margin-bottom: 40px;
}
.teams-container .heading h3 {
  font-size: 2.4rem;
}

.teams-container .teams-card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  backdrop-filter: blur(10px);
}

.teams-container .teams-card .card-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.teams-container .teams-card .card-content .team-image-box {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  overflow: hidden;
}

.teams-container .teams-card .card-content .team-image-box img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teams-container .teams-card .card-content .team-about-box h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.teams-container .teams-card .card-content .team-about-box h3 span {
  text-transform: initial;
  font-weight: 300;
  font-size: 12px;
}

.teams-container .teams-card .team-connect {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.teams-container .teams-card .team-connect li {
  list-style: none;
  margin: 0 10px;
  transition: 0.5s;
}

.teams-container .teams-card .team-connect li a {
  color: black;
  font-size: 24px;
}

/* FAQ PAGE */

.faq-container {
  width: 100%;
  padding: 50px;
}

.faq-container .faq-sec {
  display: block;
  margin: auto;
}

.faq-container .faq-sec h1 {
  display: block;
  margin: auto;
  width: max-content;
  font-size: 2em;
}

.faq-container .faq-sec .faqs {
  max-width: 800px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.faq-container .faq-sec .faq-c {
  display: flex;
  height: auto;
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 17px 20px;
  justify-content: space-between;
}

.faq-comp {
  width: inherit;
  margin: 30px 0px;
  cursor: pointer;
}

.faq-container .faq-sec .faq-c p {
  font-weight: bold;
  color: #747474;
}

.faq-container .faq-sec .faq-c.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #c4c4c4;
  transition: 0.5s;
}

.faq-container .faq-sec .faq-c a {
  cursor: pointer;
  transition: 0.5s;
}

.ans p {
  background-color: #ededed;
  color: #747474;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.25);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.7s;
}

.ans p.active {
  padding: 30px 20px;
  height: auto;
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

/* Copy right statement */
.copyright {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}
.copyright p {
  font-family: "Montserrat", sans-serif;
}

/* COMING SOON START*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.comingSoon {
  font-family: "Secular One", sans-serif;
  width: max-content;
  margin: 5% auto 8% auto;
}
.comingSoon h1 {
  display: flex;
  font-size: 62px;
  color: #415fff;
  flex-direction: column;
  align-items: center;
  line-height: 80px;
  animation: coming-txt 1s;
}
.coming:nth-child(2) {
  font-size: 88px;
  animation: soon-txt 1s;
}

.animationSec {
  position: relative;
  z-index: -1;
  width: 100%;
  height: max-content;
  top: 0px;
  animation-name: cloudAnimate;
  animation: cloudAnimate 4s;
  overflow: hidden;
  display: flex;
}
.cloud {
  margin-left: 90px;
}
.cloud:nth-child(1) {
  margin-left: 20px;
}
.cloud:nth-child(1),
.cloud:nth-child(3),
.cloud:nth-child(5),
.cloud:nth-child(7) {
  position: relative;
  top: 0;
  animation: cloud2 2s 4s infinite alternate linear;
}
.cloud:nth-child(2),
.cloud:nth-child(4),
.cloud:nth-child(6),
.cloud:nth-child(8) {
  position: relative;
  top: -60px;
  animation: cloud1 2s 4s infinite alternate ease;
}
@keyframes cloudAnimate {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}
@keyframes coming-txt {
  from {
    font-size: 0px;
  }
  to {
    font-size: 64px;
  }
}
@keyframes soon-txt {
  from {
    font-size: 0px;
  }
  to {
    font-size: 88px;
  }
}
@keyframes cloud1 {
  100% {
    top: 0px;
  }
}
@keyframes cloud2 {
  100% {
    top: -60px;
  }
}
/* COMING SOON END */
